body {
    font-family: Arial, sans-serif;
    text-align: center;
}


body {
    background: linear-gradient(to right, #000000, #e0e0e0);

background: #000000;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}

.btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.btn:hover {
    background-color: #0056b3;
}